<?xml version="1.0" encoding="utf-8"?>

<!--
 Copyright (c) 2014 Amlogic, Inc. All rights reserved.

 This source code is subject to the terms and conditions defined in the
 file 'LICENSE' which is part of this source code package.

 Description: manifest
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidlogic.hdmiin"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="droidlogic.permission.SYSTEM_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.droidlogic.hdmiin.SettingsActivity"
            android:theme="@style/TransparentDialogTheme"
            android:label="@string/settings_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.droidlogic.hdmiin.FullActivity"
            android:theme="@style/TransparentTheme"
            android:label="@string/full_activity" >
        </activity>

        <service android:name=".SwitchFullService" />
        <service android:name=".FloatWindowService" />

    </application>
</manifest>
